<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccessKey</key>
	<string>2xBb_nr8-BX6ucBE41U22Mle_OLmAQwCdfYK72VJhxU</string>
	<key>SecretKey</key>
	<string></string>
</dict>
</plist>
